@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px 60px 20px;
    height: 700px;
    width: 100%;
    background: linear-gradient(to top, white, gray);
}
#name-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#name{
    font-size: 35px;
    font-weight: 600;
    color: #F5F5F5;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
nav a{
    font-size: 20px;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    color: #F5F5F5;
}
#icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #F5F5F5;
}
#search, #cart, #login{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}
#search:hover, #cart:hover, #login:hover{
    cursor: pointer;
}
nav a:hover{
    cursor: pointer;
    text-decoration: underline;
}
#text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
#p-1{
    font-size: 80px;
}
#p-2{
    font-size: 20px;
    text-align: center;
    width: 835px;
}
#shop-now-btn{
    border: none;
    border-radius: 30px;
    padding: 12px 30px;
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    font-size: 18px;
    transition: background  0.3s;
}
#shop-now-btn:hover{
    background: transparent;
    color: #000;
    cursor: pointer;
}
#new-arrivals{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#main-p-1{
    font-size: 50px;
    margin-top: 100px;
}
#main-p-2{
    font-size: 22px;
    color: #959595;
    margin: 10px 0 30px 0;
}
#products-main{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 450px);
    gap: 10px 150px;
}
.products{
    height: 460px;
}
.products img{
    width: 100%;
    height: 375px;
    border-radius: 12px;
}
.heart{
    position: relative;
    top: 50px;
    left: 250px;
    font-size: 20px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.2s;
}
.heart:hover{
    cursor: pointer;
    color: #fe0102;
}
.product-name-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.product-name{
    font-size: 20px;
}
.product-price{
    font-size: 23px;
    font-weight: 600;
}
.product-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
    transition: background-color 0.3s;
}
.product-cart:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.taken{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 30px;
    gap: 10px;
}
.taken:hover{
    background-color: #fff;
    color: #000;
}
.minus, .plus{
    border: 1px solid #000;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 20px;
    transition: background-color 0.3s;
}
.minus:hover, .plus:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
#product-btn{
    border: none;
    border-radius: 30px;
    padding: 12px 60px;
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    font-size: 18px;
    margin-top: 80px;
    transition: background-color  0.3s;
}
#product-btn:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

#new-shop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
#new-shop img{
    border-radius: 12px;
}
#new-shop-text{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    text-align: left;
    height: 513px;
}
#new-shop-p-1{
    font-size: 55px;
    font-weight: 700;
    width: 720px;
}
#new-shop-p-2{
    font-size: 20px;
    color: #878787;
    width: 600px;
}
#new-shop-p-3{
    font-size: 30px;
    font-weight: 600;
}
#new-shop-p-4{
    font-size: 70px;
    font-weight: 700;
}
#new-shop-btn{
    border-radius: 30px;
    padding: 12px 30px;
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    font-size: 18px;
    transition: background-color  0.3s;
}
#new-shop-btn:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

#options{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#options-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#options-p-1{
    font-size: 50px;
    font-weight: 500;
}
#options-p-2{
    font-size: 20px;
    color: #8e8e8e;
}
#options-main-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    padding-top: 50px;
}
.options-divs{
    width: 500px;
    height: 270px;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.options-divs:hover{
    cursor: pointer;
}
.options-divs p{
    position: absolute;
    z-index: 1;
    font-size: 40px;
    font-weight: 600;
    transition: margin-bottom 0.4s;
}
.bg-color{
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    border-radius: 24px;
    width: 500px;
    transition: background 0.4s;
}
.bg-color-small{
    height: 270px;
}
.bg-color-big{
    height: 570px;
}
.options-divs img{
    width: 100%;
    height: 100%;
}
#option-div-2{
    height: 570px;
    grid-area: 1/2/3/3;
}
#option-div-4{
    height: 570px;
    grid-row: 2/4;
}
#option-div-5{
    height: 570px;
    grid-row: 2/4;
}
.discover{
    position: absolute;
    opacity: 0;
    border: 2px solid #000;
    z-index: 1;
    border: none;
    border-radius: 30px;
    padding: 12px 30px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    transition: background-color 0.3s, opacity 0.3s;
}
.discover:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
footer{
    width: 100%;
    height: 700px;
    margin-top: 100px;
    background: linear-gradient(to top, white, gray);
}
#footer-email{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}
#footer-email-p-1{
    font-size: 40px;
    font-weight: 500;
    color: #fff;
}
#footer-email-p-2{
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}
form input{
    padding: 10px 30px;
    width: 350px;
    border: 1px solid #fff;
    border-radius: 30px;
    font-size: 18px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}
form input:focus{
    outline: none;
}
form input::placeholder{
    color: #fff;
}
form button{
    padding: 13px 40px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    transition: background-color 0.3s;
}
form button:hover{
    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
}
#footer-text-1{
    width: 100%;
    height: 550px;
    background-color: #000;
    color: #fff;
    padding: 30px 40px;
}
#footer-text-2{
    height: 287px;
}
#links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#links a{
    font-size: 30px;
    color: #fff;
    transition: color 0.3s;
}
#links a:hover{
    color: #a7a6a7;
}
#footer-text-p-1{
    font-size: 50px;
    font-weight: 600;
}
#footer-text-p-2{
    font-size: 20px;
    width: 343px;
    margin-top: 15px;
}
#link-div-main{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}
.link-top-p{
    font-size: 25px;
    margin-bottom: 15px;
}
.link-p{
    font-size: 20px;
    color: #797979;
    line-height: 40px;
}
.link-p:hover{
    text-decoration: underline;
    cursor: pointer;
}
#icons-bottom-text{
    height: 287px;
}
#footer-icons{
    position: relative;
    bottom: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#text-bottom-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 306px;
    position: relative;
    top: 100px;
    left: 1450px;
}
#bottom-p{
    text-align: center;
    position: relative;
    top: 160px;
}