*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212522;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 7px;
}
#user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #212522;
    background-color: #68ba74;
    border: 1px solid #68ba74;
    border-radius: 50%;
    font-size: 20px;
    transition: background-color 0.2s;
}
#name{
    color: #fff;
    font-size: 20px;
}
nav{
    background-color: #68ba74;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px 15px;
    border-radius: 12px;
}
.nav-a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #212522;
}
.nav-a:hover{
    text-decoration: underline;
}
#login-div{
    background-color: #68ba74;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 12px;
    border: 1px solid #68ba74;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.2s;
}
#login-div:hover{
    background-color: #212522;
    color: #fff;
    cursor: pointer;
}

/* Main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 250px;
}
#welcome{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 200px 0 0;
}
#main-b{
    color: #fff;
    font-size: 100px;
}
#o{
    color: #68ba74;
}
#form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #181818;
    color: #fff;
    border-radius: 30px;
    padding: 30px 20px;
    gap: 20px;
}
#reg, #login{
    font-size: 30px;
    font-weight: 600;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#user-label, #email-label, #password-label, button{
    margin-top: 20px;
}
label{
    font-size: 18px;
}
input{
    padding: 3px 15px;
    border-radius: 5px;
    border: 1px solid #fff;
}#register{
    background-color: #68ba74;
    padding: 5px 10px;
    border: 2px solid #68ba74;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color 0.2s;
}
#register:hover{
    background-color: #212522;
    color: #fff;
    cursor: pointer;
}
#login-p{
    font-size: 17px;
    margin-top: 20px;
}
#acc-b, #acc-reg-b{
    text-decoration: none;
    margin-left: 3px;
    font-weight: 600;
    color: #68ba74;
}
#acc-b:hover, #acc-reg-b:hover{
    text-decoration: underline;
    cursor: pointer;
}
#err{color: red;}

#about-us, #martial-art{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 75px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 30px;
}
#mentors{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 30px;
    padding: 0 75px;
}
#about-us-b, #mentors-b, #martial-art-b, #social-media-b{
    font-size: 40px;
    color: #68ba74;
}
#about-us-p, #mentors-p, #martial-art-p{
    font-size: 25px;
    color: #fff;
    line-height: 35px;
}
.goa-b{
    color: #68ba74;
}
#logo-p{
    font-size: 40px;
    color: #68ba74;
}
img{
    height: 220px;
    border-radius: 30px;
}
#social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0 100px 0;
    width: 100%;
    border-top: 2px solid #3f4147;
}

/* Footer */
#social-media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.social-media-a{
    font-size: 30px;
}
#youtube{
    color: #ff0033;
}
#facebook{
    color: #1877f2;
}
#instagram{
    color: #fa0175;
}
#tiktok{
    color: #000000;
}

/* @media screen and (max-width: 1483px){
    body{
        background-color: red;
    }
    #main-b{
        font-size: 80px;
    }
} */