*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212522;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 7px 10px;
}
nav{
    background-color: #68ba74;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px 15px;
    border-radius: 12px;
}
.nav-a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #212522;
}
.nav-a:hover{
    text-decoration: underline;
}
#user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #212522;
    background-color: #68ba74;
    border: 1px solid #68ba74;
    border-radius: 50%;
    font-size: 20px;
    transition: background-color 0.2s;
}
#profile:hover{
    background-color: #212522;
    color: #68ba74;
    cursor: pointer;
}
#name{
    color: #fff;
    font-size: 20px;
}
#login-div{
    background-color: #68ba74;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 12px;
    border: 1px solid #68ba74;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.2s;
}
#login-div:hover{
    background-color: #212522;
    color: #fff;
    cursor: pointer;
}

/* Main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 92vh;
}
#welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}
#main-b{
    color: #fff;
    font-size: 100px;
}
#o{
    color: #68ba74;
}
#form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    background-color: #181818;
    padding: 25px 40px 50px;
    color: #fff;
    border-radius: 30px;
}
#reg, #login{
    font-size: 30px;
    font-weight: 600;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#user-label, #email-label, #password-label, button{
    margin-top: 20px;
}
label{
    font-size: 18px;
}
input{
    padding: 3px 15px;
    border-radius: 5px;
    border: 1px solid #fff;
}
#register{
    background-color: #68ba74;
    padding: 5px 10px;
    border: 2px solid #68ba74;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color 0.2s;
}
#register:hover{
    background-color: #212522;
    color: #fff;
    cursor: pointer;
}
#login-p{
    font-size: 17px;
    margin-top: 20px;
}
#acc-b, #acc-reg-b{
    text-decoration: none;
    margin-left: 3px;
    font-weight: 600;
    color: #68ba74;
}
#acc-b:hover, #acc-reg-b:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* @media screen and (max-width: 1483px){
    body{
        background-color: red;
    }
    #main-b{
        font-size: 80px;
    }
} */