main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 50px;
    gap: 20px;
}
#text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background-color: #181818;
    padding: 20px;
    border-radius: 24px;
}
#about-us-b{
    font-size: 40px;
    color: #68ba74;
}
#about-us-p{
    font-size: 25px;
    color: #fff;
    line-height: 35px;
}
.goa-b{
    color: #68ba74;
}
img{
    border-radius: 30px;
}